:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

  }

  #root{
    position: absolute;
    top: 0; left: 0;
  }
  #root {
    margin: 0 auto;
    padding: 2rem;
  }
  
  html, body{
    width:100%;
    height: 100%;
    padding:0;
    margin: 0;
  }

  script{
    padding: 0;
    margin: 0;
  }

/* Nav bar styling */
  #nav-bar{
    display:flex;
  }

  
  #nav-bar a {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size:xx-large;
    color: #70c2ee;
    text-decoration: inherit;
    border-bottom:3px solid #6adddf;
    -webkit-text-stroke: .9px rgb(0, 0, 0);
  }

  #nav-bar a:hover {
    color: #747bff;
    border-bottom:3px solid #747bff;

  }

/* search bar styling */
  #search-bars{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  #search-bars input{
    margin-right: 10px;
  }

  /* BackGroun images */

  img {
    width:100%;
    height: 100%;
    /* object-fit: cover; */
    margin: 0;
    padding: 0;
  }


  ._page{
    content:url("src/assets/wonderland.jpg");
  }

  .trails_page{
    content:url("src/assets/view_all.jpg");
  }

  .random_page{
    content:url("src/assets/random.jpg");
  }

  .Map_page{
    content:url("src/assets/snow.jpg");
  }

  .Post_page{
    content:url("src/assets/signpost.jpg");
  }



/* About page styling */
  p {
    -webkit-text-stroke: 0.33px white;
    font-size: x-large;
    font-weight: 600;
  }

/* Trails List styling */

a {
  font-weight: 500;
  color: #0c8827;
  text-decoration: inherit;
}

thead tr td{
    text-align: center;
}

table, td{
  border:1px solid #000000;
  background-color: rgb(224, 221, 221);
}


/* Post Trail styling */
#submit-button:hover{
    color:#4ad668;
}

#submit-form input{
  margin-right: 10px;
}

/* Detailed display styling */
#detailed-display h1{
    color:#286458;
    -webkit-text-stroke: 0.7px rgb(255, 254, 254);
}



/* Buttons (post trail and delete trail) */
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;

  }

  button:hover {
    border-color: #000000;
    background-color: #7b7171;
    color:red;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  table button{
    width:100%;
    height: 100%;
  }


/*  */
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
/*--------------------------------*/


